body {
  font-family: "Caveat", cursive;
}
section {
  background-color: white;
}
.sub-section-alternative {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
}
.hero {
  /* background-color: #1c1d25; */
  background: url("./images/bg.jpg") no-repeat center center/cover;
  height: 100vh;
  color: white;
  font-size: 40px;
  transition: 0.3s;
}
.hero.light {
  background: url("./images/bg3.jpg") no-repeat center center/cover;
  transition: 0.3s;
}
.hero-area {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
.switch {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(39, 38, 38);
  position: relative;
}
.flicker {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #fff;
  top: 5px;
  left: 5px;
  transition: 0.3s;
  box-shadow: inset 4px 4px 4px rgb(255, 255, 255),
    inset -4px -4px 4px rgb(195 193 198 / 90%);
}
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 80px;
}
nav {
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 30px;
}

li {
  text-decoration: none;
  font-size: 30px;
}
h1 {
  font-size: 90px;
  margin: 0;
}
p {
  margin: 0;
  font-weight: 300;
  font-size: 30px;
}
.subtext {
  font-size: 15px;
  font-weight: 300;
}

.hero-text {
  margin-left: 80px;
  margin-bottom: 200px;
}
.button {
  width: 200px;
  height: 55px;
  border-radius: 28px;
  background-color: coral;
  text-align: center;
  font-weight: 300;
  font-size: 30px;
  padding-top: 5px;
  margin-top: 20px;
}
.button:hover {
  background-color: #ef744b;
}
.button:active {
  background-color: #a9a9a9;
  color: #808080;
}
.socials {
  padding-bottom: 200px;
}
.social {
  margin: 20px;
}
.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}
h2 {
  font-size: 50px;
}
.headshot {
  width: 300px;
  border-radius: 150px;
}

.headshot-container {
  display: flex;
  align-items: center;
}
.project-card {
  width: 300px;
  height: 500px;
  box-shadow: 5px 5px 20px rgb(176, 175, 175);
  margin: 1px;
}
.project-container {
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 1000px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.project-image {
  margin-top: 5px;
  width: 280px;
  height: 160px;
  border-radius: 50px;
}
hr {
  margin-left: 20px;
  margin-right: 20px;
}
.project-link {
  text-decoration: none;
  color: #ef744b;
}
a {
  text-decoration: none;
  color: white;
}
.hamburger {
  display: none;
}
.hamburger:focus {
  outline: 0;
}
@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
  }
  ul {
    display: none;
    background-color: #26273c;
  }
  ul.show {
    display: block;
  }
  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: #26273c;
  }
}

.resume {
  color: rgb(184, 163, 210) !important;
}
.moon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 45px;
}
.light .flicker {
  transform: translateX(40px);
}
